<div id="container" class="container">
  <mat-tab-group class="mat-tab-group">
    <mat-tab label="Sign Up">
      <div class="tab-content">
        <p class="tab-description">Join us today! It's quick and easy.</p>
        <button mat-raised-button color="primary" [routerLink]="'/sign-up'">
          Sign Up
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Login">
      <div class="tab-content">
        <p class="tab-description">Already a member? Log in to continue.</p>
        <button mat-raised-button color="accent" [routerLink]="'/login'">
          Login
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>